* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --color-yellow: #f4f85b;
    --color-white: #ffffff;
    --color-black: #000000;
}

.main-frame {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('https://drive.google.com/uc?export=download&id=16CrRv-0pCUBRb661y7HJJfGW4modHkeX');
}
.main-frame .logo-game {
    width: 864px;
    height: 96px;
    position: absolute;
    top: 200px;
    left: calc(50% - 864px / 2);
    pointer-events: none;
}
.main-frame .logo-game img {
    width: 100%;
}
.main-frame .container-options {
    display: flex;
    flex-direction: column;
}
.main-frame .container-options div {
    width: 320px;
    height: 60px;
    background-color: var(--color-yellow);
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    margin-bottom: 15px;

    border: 2px solid var(--color-black);
    border-radius: 5px;
}
.main-frame .container-options div:last-child {
    margin-bottom: 0;
}
.main-frame .theme-description {
    width: 672px;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 672px / 2);
    font-size: 32px;

    text-shadow: 0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black);

    text-align: center;
    color: var(--color-white);
}

.main-frame .container-difficulty {
    display: flex;
    flex-direction: column;
}
.main-frame .container-difficulty div {
    width: 300px;
    height: 60px;
    background-color: var(--color-yellow);
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    margin-bottom: 15px;

    border: 2px solid var(--color-black);
    border-radius: 5px;
}
.main-frame .container-difficulty div:last-child {
    margin-bottom: 0;
}

.main-frame .board-choice {
    width: 1200px;
    position: absolute;
    top: 200px;
    left: calc(50% - 1200px / 2);
    font-size: 40px;

    text-shadow: 0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black);

    text-align: center;
    color: var(--color-white);
}

.main-game {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #343434;

    position: relative;
}
.main-game .title-game {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 40px;

    text-shadow: 0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black),
        0 0 5px var(--color-black), 0 0 5px var(--color-black);

    color: var(--color-white);
}

.main-game .container-board-pieces.small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}
.main-game .container-board-pieces.medium {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
}
.main-game .container-board-pieces.large {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px 30px;
}

.main-game .container-board-pieces .piece {
    transition: 500ms;
    width: 0;
    height: 0;
}

.main-game .container-board-pieces.medium .piece {
    width: 200px;
    height: 100px;
    background-color: black;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 600px;
}

.main-game .container-board-pieces.small .piece {
    width: 200px;
    height: 100px;
    background-color: black;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 600px;
}

.main-game .container-board-pieces.large .piece {
    width: 160px;
    height: 80px;
    background-color: black;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 600px;
}
.main-game .container-board-pieces.small .piece:hover {
    box-shadow: 0 0 25px #f4f85b;
}
.main-game .container-board-pieces.medium .piece:hover {
    box-shadow: 0 0 25px #f4f85b;
}
.main-game .container-board-pieces.large .piece:hover {
    box-shadow: 0 0 25px #f4f85b;
}
.main-game .container-board-pieces .piece.turn img {
    width: 100%;
    display: block !important;
    transform: rotateY(180deg);
}
.main-game .container-board-pieces .piece.turned img {
    width: 100%;
    display: block !important;
    transform: rotateY(180deg);
}
.main-game .container-board-pieces .piece .piece-back {
    width: 200px;
    height: 100px;
    background-color: #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-game .container-board-pieces .piece.turn {
    transform: rotateY(180deg);
}
.main-game .container-board-pieces .piece.turned {
    transform: rotateY(180deg);
}
.main-game .container-board-pieces .piece.turn .piece-back {
    background-color: var(--color-yellow);
    display: none;
}
.main-game .container-board-pieces .piece.turned .piece-back {
    display: none;
    background-color: #ffbe32;
}

.main-game .completed-game {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.main-game .completed-game .play-again {
    animation: play-again-entrace 200ms linear;
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
}
@keyframes play-again-entrace {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.main-game .completed-game .play-again .title-play-again {
    font-size: 25px;
}
.main-game .completed-game .play-again .icon-play-again {
    transition: 200ms;
    display: flex;
    justify-content: center;
    background-color: #ffbe32;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    padding: 4px 0;
}
.main-game .completed-game .play-again .icon-play-again:hover {
    background-color: #ff9532;
}
.main-game .completed-game .play-again .icon-play-again ion-icon {
    width: 40px;
    height: 40px;
}
